@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-fundo: #fff;
    --cor-fundo-claro:#f3f3f3;
    --cor-texto: #000000;
    --cor-texto-claro: #272727;
    --cor-destaque: #0d6943;
    --cor-destaque-claro: #0d6943d5;
    --cor-degrade: #d1d1d1;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}



* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto);
}


.title-strong {
    color: var(--cor-destaque);
    transition: background-color 200ms ease, transform 200ms ease;
}

.title-strong:hover {
    background-color:var(--cor-destaque-claro);
    color: var(--cor-fundo);

    
}

.header {
    padding: 2% 0 2% 15%;
    background-color: var(--cor-fundo);
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__options {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
}

.degrade {
    background: linear-gradient(to top, var(--cor-fundo-claro), var(--cor-fundo-claro), var(--cor-degrade));
    height: 5rem;
    width: 100%;
}

.apresentacao {
    
    padding: 1% 15% 15% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 85px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto1 {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    border: 1px solid var(--cor-destaque);
    width: 50%;
    text-align: left;
    border-radius: 100px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
    transition: background-color 200ms ease, transform 200ms ease;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-claro);
    transform: translatex(10px);
}

.apresentacao__imagem__claro {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}


.rodape {
    padding: 1.5rem;
    color: var(--cor-texto-claro);
    background: linear-gradient(to bottom, var(--cor-fundo-claro), var(--cor-fundo-claro), var(--cor-degrade));
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1400px) {

    .header {
        display: flex;
        padding: 5%;
        
    }

    .header__menu{
        justify-content: center;
        flex-direction: row;
        align-items: center;
        row-gap: 1rem;
        gap: 1rem;
        
    }

    .header__menu__options {
        font-size: 1rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: 100%;
    }

    .apresentacao__conteudo__texto {
        font-size: 1.2rem;
    }

    .apresentacao__conteudo__texto1 {
        display: none;
    }

    .apresentacao__links {
    
        align-items: center;
    
    }

    

    .apresentacao__links__navegacao:hover {
    
        transform: translateY(10px);
    }


    .apresentacao__imagem{
        display: none;
        width: 100vh;
    }


}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
    --cor-fundo: #272727;
    --cor-fundo-claro:#000000;
    --cor-texto: #ffffff;
    --cor-texto-claro: #dadada;
    --cor-degrade: #1d1d1d;
    --cor-destaque: #22bb7b;
    --cor-destaque-claro: #67ffbfd5;
    }

    .apresentacao__links__navegacao {
        gap: 16px;
        border: 3px solid var(--cor-destaque);
        width: 50%;

    }

}